/* Global Styles */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: antiquewhite;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1600px;
    margin: 0 auto;
    background-color: rgb(123, 215, 172);
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul li a {
    color: #333;
    font-weight: bold;
    padding: 0.5rem;
    transition: all 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
  }
  
  main {
    margin-top: 100px;
    max-width: 1200px;
    margin: 100px auto;
    padding: 1rem;
  }
  
  section {
    margin-bottom: 2rem;
  }
  
  section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  section p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }
  
  section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .project {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(169, 164, 67, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
  }
  
  .project:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(194, 113, 113, 0.1);
  }
  
  .project img {
    max-width: 100%;
    height: auto;
  }
  
  .project h3 {
    font-size: 1.5rem;
    margin: 1rem;
  }
  
  .project p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 1rem;
  }
  
  .project a {
    display: block;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    margin: 1rem;
    transition: all 0.3s ease;
  }
  
  .project a:hover {
    background-color: #fff;
    color: #333;
    border: 2px solid #333;
  }
  
  form label {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  form input,
  form textarea {
    font-size: 1.1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    margin-bottom:}